{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="custom_container_delete">
        <h2>Confirm Delete</h2>
        <p class="my-5 w-50">Are you sure you want to delete the screeningroom "{{ object.name }}"?</p>
        <div class="d-flex justify-content-center gap-3 mt-5">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, delete</button>
                <a href="{% url 'admin_dashboard' %}" class="btn btn-success">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
