{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Add Movie</h2>
    <form id="movie-form" method="post" action="{% url 'admin_movie_create' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="movie-name" class="form-label">Movie Name</label>
            <input type="text" id="movie-name" class="form-control" placeholder="Type to search for a movie...">
            <div id="movie-suggestions" class="list-group mt-2"></div>
        </div>
        <input type="hidden" id="tmdb-id" name="tmdb_id">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Movie</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/movie_suggestions.js' %}"></script>
{% endblock %}

