{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-3 w-25">
    <div class="col-12 p-4 bg-info text-center rounded-2 border border-2">
        <h2>Cancel Booking</h2>
        <p>Are You sure to cancel your booking? This action cannot be undone.</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'profile' %}" class="btn btn-secondary">Go Back</a>
        </form>
    </div>
</div>
{% endblock %}
