{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <div class="card w-100 w-md-75 w-lg-50 content-section">
        <div class="card-body">
            {% if post_detail %}
            <img class="rounded-circle article-img" src="{{ post_detail.author_profile_image }}"
                alt="{{ post_detail.author_username }}">
            <h4 class="text-center">Comment on "{{ post_detail.title }}"</h4>
            <p class="text-center">By: {{ post_detail.author_username }} on {{ post_detail.date_posted|date:'dS, F, Y' }}</p>
            <p>{{ post_detail.content }}</p>
            {% endif %}
            <h4 class="mt-4">Add a Comment:</h4>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                    <button class="btn btn-danger" type="button" onclick="history.back()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}