{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% if title %}
  <title>MovieTicket - {{ title }}</title>
  {% else %}
  <title>MovieTicket</title>
  {% endif %}
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand-md bg-black fixed-top ">
      <div class="container-fluid ">
        <a class="navbar-brand mx-5  logo text-white" href="{% url 'movie_list' %}"><span class="logo">M</span>ovie<span class="logo">T</span>icket</a>
        <button class="navbar-toggler bg-white text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarToggle">
          <div class="navbar-nav me-auto">
            <a class="nav-item nav-link" aria-current="page" href="{% url 'movie_list' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'showtime_list' %}">Showtimes</a>
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Blog</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav ms-auto" >
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            {% if user.is_staff or user.is_superuser %}
            <!-- Link to the admin page or a custom admin dashboard if you have one -->
            <a class="nav-item nav-link" href="{% url 'admin_dashboard' %}">Admin Page</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container flex-grow-1 mt-5">
    <div class="row my-5">
      <div>
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %} {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  <footer class="bg-dark text-white mt-auto py-5 container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Address: 123 Main St, Anytown USA</li>
            <li>Phone: (123) 456-7890</li>
            <li>Email: info@cinema.com</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Social Networks</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Cinema is a leading cinema chain in the United States, offering a wide variety of movies and comfortable
            theaters. Our mission is to provide an unforgettable movie experience to all our customers.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2023 Cinema. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script src="{% static 'js/base.js' %}" ></script>
  <!-- Additional Scripts -->
  {% block extra_js %}{% endblock %}
</body>

</html>