{% for comment in comments %}
<div class="{% if comment.parent %}reply ms-4{% else %}custom-comment{% endif %}">
    <div class="comment-body">
        <div class="d-flex align-items-center">
            <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}">
            <div class="ms-2">
                <h5 class="mt-0">{{ comment.author.username }}</h5>
                <small class="text-muted">{{ comment.date_posted|date:'dS, F, Y'}}</small>
                <p>{{ comment.content }}</p>
                <div class="comment-actions">
                    {% if comment.author == user %}
                    <a href="{% url 'comment-update' comment.id %}" class="btn btn-sm btn-secondary">Edit</a>
                    <a href="{% url 'comment-delete' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
                    {% endif %}
                    <a href="{% url 'add-reply' post_id=comment.post.id parent_id=comment.id %}" class="btn btn-sm btn-primary">Reply</a>
                    <!-- Botón de like para el comentario -->
                    <button class="like-comment btn btn-sm btn-primary" id="like-btn-comment-{{ comment.id }}" data-id="{{ comment.id }}">Like</button>
                    <!-- Contador de likes para el comentario -->
                    <span id="like-count-comment-{{ comment.id }}">{{ comment.likes.count }} Likes</span>
                </div>
            </div>
        </div>
        {% if comment.replies.all.exists %}
        <div class="replies ms-3 mt-2">
            {% include "blog/comment_thread.html" with comments=comment.replies.all %}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
