{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div class="container d-flex flex-column min-vh-100">
  <div class="row g-3">
    <!-- Link Section -->
    <div class="col-12 col-md-4 order-md-2 mb-3">
      <div class="links-section p-3 rounded">
        <h3 class="text-center">CineBook Blog</h3>
        <div class="d-grid gap-2">
          {% if user.is_authenticated %}
          <a href="{% url 'post-create' %}" class="btn btn-primary">New Post</a>
          {% endif %}
          <a href="{% url 'blog-home' %}" class="btn btn-primary">Latest Posts</a>
        </div>
      </div>
    </div>
    
    <!-- Posts Section -->
    <div class="col-12 col-md-8 order-md-1">
      {% for post in posts %}
      <article class="media content-section p-3 rounded mb-3">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <p class="mr-2 mt-2">by {{ post.author }}</p>
            <small>{{ post.date_posted|date:'dS, F, Y' }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content|truncatewords:20 }}</p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
  
  <!-- Pagination Section -->
  <div class="mt-auto">
    <nav aria-label="Pagination" class="d-flex justify-content-center">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="btn btn-primary" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="First">First</a>
        </li>
        <li class="page-item">
          <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">Previous</a>
        </li>
        {% endif %}
        <li class="page-item disabled">
          <span class="btn btn-primary">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">Next</a>
        </li>
        <li class="page-item">
          <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Last">Last</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock content %}