<!DOCTYPE html>
<html>
<head>
    <title>Booking Confirmation</title>
</head>
<body >
    <div style="text-align: center;">
        <h1>Booking Confirmation</h1>
        <p>Dear <strong style="font-size: x-large;">{{ username }}</strong>,</p>
        <img src="{{ movie_image_url }}" alt="Movie Poster" style="width: 100%; max-width: 200px; height: auto; margin: 20px auto;">
        <p>Your booking for <strong style="font-size: x-large;">{{ movie_title }}</strong></p>
        <p>on <strong style="font-size: x-large;">{{ showtime_formatted }}</strong></p>
        <p>has been confirmed.</p>
        <h3>Seat Reservations</h3>
        <ul>
        {% for seat_reservation in seat_reservations %}
          <li>Row-{{ seat_reservation.seat.row_letter }} Seat-{{ seat_reservation.seat.seat_number }}</li>
        {% empty %}
          <li><em>No seats reserved.</em></li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>