{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body bg-info rounded">
                    <form method="POST" class="text-center ">
                        {% csrf_token %}
                        <fieldset class="form-group ">
                            <legend class="border-bottom mb-4">Reset Password</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group mt-4">
                            <button class="btn btn-danger btn-sm px-3" type="submit">Reset your Password</button>
                            <a class="btn btn-success btn-sm px-3" href="{% url 'login' %}">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}