{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<!-- Section Title -->
<h2 class="text-center my-4">Upcoming Showtimes</h2>

<div class="text-center mb-3">
    <button class="btn btn-success mb-3" type="button" id="toggle-filters">Filters</button>
</div>

<div class="container border border-black" id="filter-form-container" style="display: none;">
    <!-- Panel con los filtros -->
    <form method="get" class="container">
        <div class="row">
            <div class="col-12 col-md-auto mb-2">
                <label for="id_cinema" class="form-label">Cinema</label>
                {{ filter_form.cinema }}
            </div>
            <div class="col-12 col-md-auto mb-2">
                <label for="id_screening_room" class="form-label">Screening Room</label>
                {{ filter_form.screening_room }}
            </div>
            <div class="col-12 col-md-auto mb-2">
                <label for="id_movie" class="form-label">Movie</label>
                {{ filter_form.movie }}
            </div>
            <div class="col-12 col-md-auto mb-2">
                <label for="id_start_date" class="form-label">Start Date</label>
                {{ filter_form.start_date }}
            </div>
            <div class="col-12 col-md-auto mb-2">
                <label for="id_end_date" class="form-label">End Date</label>
                {{ filter_form.end_date }}
            </div>
            <div class="col-12 col-md-auto mb-2">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="{% url 'showtime_list' %}" class="btn btn-secondary">Clear Filters</a>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 bg-info">
        {% for item in showtimes_with_seat_info %}
        <div class="col p-2 pb-4">
            <div class="card h-100 ">
                {% if item.showtime.movie.poster_path %}
                <img src="{{ item.showtime.movie.poster_path }}" class="card-img-top" alt="{{ item.showtime.movie.title }} poster">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.showtime.movie.title }}</h5>
                    <p class="card-text">
                        <strong>Cinema:</strong> {{ item.showtime.screening_room.cinema.name }}<br>
                        <strong>Screening Room:</strong> {{ item.showtime.screening_room.name }}<br>
                        <strong>Time:</strong> {{ item.showtime.showtime|date:"d M Y H:i" }}<br>
                        <strong>Total Seats:</strong> {{ item.total_seats }}<br>
                        <strong>Available Seats:</strong> {{ item.available_seats }}
                    </p>
                </div>
                <div class="card-footer text-center my-2">
                    <a href="{% url 'movie_detail' item.showtime.movie.id %}" class="btn btn-success">Movie Details</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'create_booking' item.showtime.id %}" class="btn btn-primary ">Book Now</a>
                    {% else %}
                    <small class="text-muted">Log in to book tickets.</small>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center  mt-4">
            {% if page_obj.has_previous %}
            <li class="page-item m-1">
                <a class="btn btn-primary" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="First">First</a>
            </li>
            <li class="page-item m-1">
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">Previous</a>
            </li>
            {% endif %}
            <li class="page-item disabled m-1">
                <span class="btn btn-primary custom_pagination ">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item m-1">
                <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">Next</a>
            </li>
            <li class="page-item m-1">
                <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Last">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<script src="{% static 'js/filters.js' %}"></script>

{% endblock %}